<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Title</title>
  </head>
  <body>
    <% posts %>
    <h1 class="Titre">Post</h1>

    <div class="postes">
      <div class="card poste">
        <img src="/img/IMG.jpg" class="card-img-top" />
        <div class="card-body">
          <h3 class="card-title">Mon Post</h3>
          <p class="card-text">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book.
          </p>
          <a href="/post" class="btn btn-primary">Voir ce post</a>
        </div>
      </div>
      <div class="card poste">
        <img src="/img/IMG.jpg" class="card-img-top" />
        <div class="card-body">
          <h3 class="card-title">Mon Post</h3>
          <p class="card-text">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book.
          </p>
          <a href="/post" class="btn btn-primary">Voir ce post</a>
        </div>
      </div>
      <div class="card poste">
        <img src="/img/IMG.jpg" class="card-img-top" />
        <div class="card-body">
          <h3 class="card-title">Mon Post</h3>
          <p class="card-text">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book.
          </p>
          <a href="/post" class="btn btn-primary">Voir ce post</a>
        </div>
      </div>
    </div>
  </body>
</html>
